asgiref==3.8.1
async-timeout==5.0.1
autopep8==2.3.1
backports.zoneinfo==0.2.1
certifi==2025.11.12
charset-normalizer==3.4.4
django==4.2.26
django-cors-headers==4.4.0
django-debug-toolbar==4.4.6
django-silk==5.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
gprof2dot==2025.4.14
idna==3.11
psycopg2-binary==2.9.10
pycodestyle==2.12.1
PyJWT==2.9.0
python-decouple==3.8
redis==6.1.1
requests==2.32.4
rest-framework-simplejwt==0.0.2
sqlparse==0.5.3
tomli==2.3.0
typing-extensions==4.13.2
urllib3==2.2.3
